@model LTW_NTTinh_2024802010018.Models.Employee
@{
    string birthDateOnly = Model.Birthday.Date.ToShortDateString();
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<div class="modal fade" id="addModal-@Model.EmployeeID" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div style="min-width:1000px;" class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="text-align:center" class="modal-title" id="exampleModalLabel">THÔNG TIN CHI TIẾT</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">

                @if (Model.Sex.ToString().Contains("Nam"))
                {
                    <div class="container-fluid" style="padding-top:40px;">
                        <div class="container py-5">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="card mb-4">
                                        <div class="card-body text-center">
                                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava6.webp" alt="avatar"
                                                 class="rounded-circle img-fluid" style="width: 150px;">
                                            <h4 class="my-3">@Html.DisplayFor(model => model.EmployeeName)</h4>
                                            <p class="text-muted mb-1">@Html.DisplayFor(model => birthDateOnly)</p>
                                            <p class="text-muted mb-4">@Html.DisplayName("Chức vụ: ") @Html.DisplayFor(model => model.Title)</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="card mb-4">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <p class="mb-0">@Html.DisplayName("Mã nhân viên")</p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <p class="text-muted mb-0">@Html.DisplayFor(model => model.EmployeeID)</p>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <p class="mb-0">@Html.DisplayName("Họ và tên")</p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <p class="text-muted mb-0">@Html.DisplayFor(model => model.EmployeeName)</p>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <p class="mb-0">@Html.DisplayName("Giới tính")</p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <p class="text-muted mb-0">@Html.DisplayFor(model => model.Sex)</p>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <p class="mb-0"> @Html.DisplayName("Email")</p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <p class="text-muted mb-0">@Html.DisplayFor(model => model.Email)</p>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <p class="mb-0"> @Html.DisplayName("Số điện thoại")</p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <p class="text-muted mb-0">@Html.DisplayFor(model => model.Phone)</p>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <p class="mb-0">@Html.DisplayName("Địa chỉ")</p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <p class="text-muted mb-0">@Html.DisplayFor(model => model.Address)</p>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <p class="mb-0">@Html.DisplayName("Chức vụ")</p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <p class="text-muted mb-0">@Html.DisplayFor(model => model.Title)</p>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <p class="mb-0">@Html.DisplayName("Ngày sinh")</p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <p class="text-muted mb-0">@Html.DisplayFor(model => birthDateOnly)</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div style="padding-top:30px;">
                        <div class="container py-5">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="card mb-4">
                                        <div class="card-body text-center">
                                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2.webp" alt="avatar"
                                                 class="rounded-circle img-fluid" style="width: 150px;">
                                            <h4 class="my-3">@Html.DisplayFor(model => model.EmployeeName)</h4>
                                            <p class="text-muted mb-1">@Html.DisplayFor(model => birthDateOnly)</p>
                                            <p class="text-muted mb-4">@Html.DisplayName("Chức vụ: ") @Html.DisplayFor(model => model.Title)</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="card mb-4">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <p class="mb-0">@Html.DisplayName("Mã nhân viên")</p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <p class="text-muted mb-0">@Html.DisplayFor(model => model.EmployeeID)</p>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <p class="mb-0">@Html.DisplayName("Họ và tên")</p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <p class="text-muted mb-0">@Html.DisplayFor(model => model.EmployeeName)</p>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <p class="mb-0">@Html.DisplayName("Giới tính")</p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <p class="text-muted mb-0">@Html.DisplayFor(model => model.Sex)</p>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <p class="mb-0"> @Html.DisplayName("Email")</p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <p class="text-muted mb-0">@Html.DisplayFor(model => model.Email)</p>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <p class="mb-0"> @Html.DisplayName("Số điện thoại")</p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <p class="text-muted mb-0">@Html.DisplayFor(model => model.Phone)</p>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <p class="mb-0">@Html.DisplayName("Địa chỉ")</p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <p class="text-muted mb-0">@Html.DisplayFor(model => model.Address)</p>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <p class="mb-0">@Html.DisplayName("Chức vụ")</p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <p class="text-muted mb-0">@Html.DisplayFor(model => model.Title)</p>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <p class="mb-0">@Html.DisplayName("Ngày sinh")</p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <p class="text-muted mb-0">@Html.DisplayFor(model => birthDateOnly)</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <label>@DateTime.Now.ToShortDateString()</label>
            </div>
        </div>
    </div>
</div>


