@model LTW_NTTinh_2024802010018.Models.Customer
<nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
    <a href="" class="text-decoration-none d-block d-lg-none">
        <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">M</span>art</h1>
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
        <div class="navbar-nav mr-auto py-0">
            <a href="@Url.Action("Index","Mart")" class="nav-item nav-link active">Trang chủ</a>
            <a href="@Url.Action("mart_product", "Mart", new {id = 1})" class="nav-item nav-link">Sản phẩm</a>
            <a href="@Url.Action("news_mart","Mart")" class="nav-item nav-link">Tin tức</a>
            <div class="nav-item dropdown">
                <a style="font-size:16px" href="#" class="nav-link dropdown-header" data-toggle="dropdown">Chính sách</a>
                <div class="dropdown-menu rounded-0 m-0">
                    <a href="@Url.Action("mart_checkout","Mart")" class="dropdown-item">Chính sách thanh toán</a>
                    <a href="@Url.Action("mart_delivery","Mart")" class="dropdown-item">Chính sách vận chuyển</a>
                    <a href="@Url.Action("mart_warranty","Mart")" class="dropdown-item">Chính sách bảo hành</a>
                </div>
            </div>
            <a href="@Url.Action("contact","Mart")" class="nav-item nav-link">Liên hệ</a>
        </div>
        @if (Session["UserName"] == null)
        {
            <div class="navbar-nav ml-auto py-0">
                <a href="@Url.Action("user_login","User")" class="nav-item nav-link">Đăng nhập</a>
                <a href="@Url.Action("user_register","User")" class="nav-item nav-link">Đăng ký</a>
            </div>
        }
        else if (Session["UserName"] != null && Convert.ToInt32(Session["Permission"].ToString()) == 3)
        {
            <div class="navbar-nav ml-auto py-0">
                <a href="@Url.Action("user_detail","Mart", new
            {
                id = Session["CustomerID"].ToString()
            })" class="nav-item nav-link">Hi, @Session["UserName"].ToString() &nbsp;&nbsp; | </a>
            <a href="@Url.Action("my_order", "Mart", new {id = Session["CustomerID"].ToString(),id1 = 1})" class="nav-item nav-link"> &nbsp; Đơn hàng của tôi &nbsp;  | </a>
            <a href="@Url.Action("user_logout","User")" class="nav-item nav-link">&nbsp;&nbsp; Đăng xuất</a>
        </div>
    }
    else
    {

        <div class="navbar-nav ml-auto py-0">
            <a href="@Url.Action("user_login","User")" class="nav-item nav-link">Đăng nhập</a>
            <a href="@Url.Action("user_register","User")" class="nav-item nav-link">Đăng ký</a>
        </div>
    }


    </div>
</nav>
