@model LTW_NTTinh_2024802010018.Models.Customer

@{
    ViewBag.Title = "Chỉnh sửa thông tin";
    Layout = "~/Views/Shared/_LayoutMart.cshtml";
}

@{

    List<SelectListItem> list = new List<SelectListItem>();
    list.Add(new SelectListItem
    {
        Text = "Nam",
        Value = "Nam",
    });
    list.Add(new SelectListItem
    {
        Text = "Nữ",
        Value = "Nữ",
    });

}
@{
    string birthDateOnly = Model.Birthday.Date.ToShortDateString();
}
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">CHỈNH SỬA THÔNG TIN</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="@Url.Action("Index","Mart")">Trang chủ</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Chỉnh sửa thông tin</p>
            </div>
        </div>
    </div>
    @using (Html.BeginForm("user_edit", "Mart", FormMethod.Post, new
    {
        @enctype = "multipart/form-data"
    }))
    {
        @Html.AntiForgeryToken()
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Chỉnh sửa thông tin</span></h2>
        </div>
        <div class="form-horizontal" style="margin-left:600px;">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label class="control-label col-md-2">Họ và tên: </label>
                <div class="col-md-10">
                    <input type="text" maxlength="30" size="70" value="@Model.CustomerName" name="Name" required />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Địa chỉ: </label>
                <div class="col-md-10">
                    <input type="text" maxlength="100" size="100" value="@Model.Address" name="Address" required />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Ngày sinh: </label>
                <div class="col-md-10">
                    <input type="datetime" name="Birthday" value="@birthDateOnly" required />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Giới tính: </label>
                <div class="col-md-10">
                    @Html.DropDownList("Sex", list)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Số điện thoại: </label>
                <div class="col-md-10">
                    <input type="text" maxlength="10" value="@Model.Phone" name="Phone" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Lưu" class="btn btn-success" />
                    <a href="@Url.Action("user_detail", "Mart", new
                {
                    id = Session["CustomerID"].ToString()
                })" class="btn btn-primary" role="button" style="margin-left:5px;">Quay lại</a>
                </div>
            </div>
        </div>
    }

