@using LTW_NTTinh_2024802010018.Models
@{
    ViewBag.Title = "Đơn đặt hàng";
    Layout = "~/Views/Shared/_LayoutMart.cshtml";
}
@using (Html.BeginForm())
{
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">ĐƠN ĐẶT HÀNG</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="@Url.Action("Index", "Mart")">Trang chủ</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Đơn đặt hàng</p>
            </div>
        </div>
    </div>
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <div class="mb-4">
                    <h4 style="text-align:center" class="font-weight-semi-bold mb-4">Thông tin giao hàng</h4>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Họ tên</label>
                            <input maxlength="30" name="ID" class="form-control" type="text" value="@ViewBag.name" placeholder="Họ tên">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>E-mail</label>
                            <input maxlength="80" name="Email" class="form-control" type="text" value="@ViewBag.email" placeholder="example@email.com">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Số điện thoại</label>
                            <input name="Phone" class="form-control" type="text" value="@ViewBag.phone" placeholder="Số điện thoại">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Địa chỉ giao hàng</label>
                            <input maxlength="100" name="Address" class="form-control" type="text" value="@ViewBag.address" placeholder="Địa chỉ">
                        </div>
                        <div>
                            <a href="@Url.Action("shopping_cart", "ShoppingCart")"><input type="button" class="btn btn-sm btn-primary" value="Quay lại giỏ hàng"></a>
                        </div>
                    </div>
                </div>
            </div>
            @if (ViewBag.cp == 0)
            {
                <div class="col-lg-4">
                    <div class="card border-secondary mb-5">
                        <div class="card-header bg-secondary border-0">
                            <h4 class="font-weight-semi-bold m-0">Đơn hàng</h4>
                        </div>
                        <div class="card-body">
                            <h5 class="font-weight-medium mb-3">Sản phẩm</h5>
                            @foreach (var item in Model)
                            {
                                <div class="d-flex justify-content-between">
                                    <p>@item.sProductName<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SL: @item.iQuantity</span></p>
                                    <p>@Html.FormatValue(@item.dTotal, "{0:#,##0}") VNĐ</p>
                                </div>

                            }
                            <hr class="mt-0">
                            <div class="d-flex justify-content-between mb-3 pt-1">
                                <h6 class="font-weight-medium">Thành tiền</h6>
                                <h6 class="font-weight-medium">@Html.FormatValue(@ViewBag.TotalPrices, "{0:#,##0}") VNĐ</h6>
                            </div>

                            <div class="d-flex justify-content-between">
                                <h6 class="font-weight-medium">Thuế</h6>
                                <h6 class="font-weight-medium">8%</h6>
                            </div>
                        </div>
                        <div class="card-footer border-secondary bg-transparent">
                            <div class="d-flex justify-content-between mt-2">
                                <h5 class="font-weight-bold">Tổng tiền</h5>
                                <h5 class="font-weight-bold">@Html.FormatValue((ViewBag.TotalPrices + ((ViewBag.TotalPrices * 8) / 100)), "{0:#,##0}") VNĐ</h5>
                            </div>
                        </div>
                    </div>
                    <div class="card border-secondary mb-5">
                        <div class="card-header bg-secondary border-0">
                            <h4 class="font-weight-semi-bold m-0">Payment</h4>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" checked name="paymentid" id="directcheck">
                                    <label class="custom-control-label" for="directcheck">Thanh toán khi nhận hàng</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" name="paymentid" id="momo" disabled>
                                    <label class="custom-control-label" for="paypal">Momo (Chưa hỗ trợ)</label>
                                </div>
                            </div>
                            <div class="">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" name="paymentid" id="banktransfer" disabled>
                                    <label class="custom-control-label" for="banktransfer">VNPay (Chưa hỗ trợ)</label>
                                </div>
                            </div>
                        </div>

                        <div class="card-footer border-secondary bg-transparent">
                            <button id="confirm" onlick="disable()" type="submit" class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3">Xác nhận</button>
                        </div>

                    </div>
                </div>
            }
            else
            {
                <div class="col-lg-4">
                    <div class="card border-secondary mb-5">
                        <div class="card-header bg-secondary border-0">
                            <h4 class="font-weight-semi-bold m-0">Đơn hàng</h4>
                        </div>
                        <div class="card-body">
                            <h5 class="font-weight-medium mb-3">Sản phẩm</h5>
                            @foreach (var item in Model)
                            {
                                <div class="d-flex justify-content-between">
                                    <p>@item.sProductName<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SL: @item.iQuantity</span></p>
                                    <p>@Html.FormatValue(@item.dTotal, "{0:#,##0}") VNĐ</p>
                                </div>

                            }
                            <hr class="mt-0">
                            <div class="d-flex justify-content-between mb-3 pt-1">
                                <h6 class="font-weight-medium">Thành tiền (- @ViewBag.value %)</h6>
                                <h6 class="font-weight-medium">@Html.FormatValue(@ViewBag.TotalPrices, "{0:#,##0}") VNĐ</h6>
                            </div>
                            <div class="d-flex justify-content-between">
                                <h6 class="font-weight-medium">Coupon </h6>
                                <h6 class="font-weight-medium">- @ViewBag.value %</h6>
                            </div>
                            <div class="d-flex justify-content-between">
                                <h6 class="font-weight-medium">Thuế</h6>
                                <h6 class="font-weight-medium">8%</h6>
                            </div>
                        </div>
                        <div class="card-footer border-secondary bg-transparent">
                            <div class="d-flex justify-content-between mt-2">
                                <h5 class="font-weight-bold">Tổng tiền</h5>
                                <h5 class="font-weight-bold">@Html.FormatValue((ViewBag.TotalPrices + ((ViewBag.TotalPrices * 8) / 100)), "{0:#,##0}") VNĐ</h5>
                            </div>
                        </div>
                    </div>
                    <div class="card border-secondary mb-5">
                        <div class="card-header bg-secondary border-0">
                            <h4 class="font-weight-semi-bold m-0">Payment</h4>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" checked name="paymentid" id="directcheck">
                                    <label class="custom-control-label" for="directcheck">Thanh toán trực tiếp</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" name="paymentid" id="momo" disabled>
                                    <label class="custom-control-label" for="paypal">Momo (Chưa hỗ trợ)</label>
                                </div>
                            </div>
                            <div class="">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" name="paymentid" id="banktransfer" disabled>
                                    <label class="custom-control-label" for="banktransfer">VNPay (Chưa hỗ trợ)</label>
                                </div>
                            </div>
                        </div>

                        <div class="card-footer border-secondary bg-transparent">
                            <button id="confirm" onlick="disable()" type="submit" class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3">Xác nhận</button>
                        </div>

                    </div>
                </div>
            }

        </div>
    </div>
}
}
<script>
  function disable() {
      document.getElementById("confirm").disable = true;
  }
</script>