@model LTW_NTTinh_2024802010018.Models.Customer
<style>
    * {
        font-size: large;
    }
</style>
@{
    string birthDateOnly = Model.Birthday.Date.ToShortDateString();
}
@{    
    List<SelectListItem> list1 = new List<SelectListItem>();
    list1.Add(new SelectListItem
    {
        Text = "Nam",
        Value = "Nam",
    });
    list1.Add(new SelectListItem
    {
        Text = "Nữ",
        Value = "Nữ",
    });

}

<div class="modal fade" id="edit-@Model.CustomerID" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div style="min-width:1100px;" class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="text-align:center" class="modal-title" id="exampleModalLabel">CHỈNH SỬA THÔNG TIN</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            @using (Html.BeginForm("Edit", "Customer", FormMethod.Post, new
            {
                @enctype = "multipart/form-data"
            }))
            {
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal" style="margin-top:30px;">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <label class="control-label col-md-2">Mã khách hàng: </label>
                            <div class="col-md-10">
                                <input type="text" size="50" value="@Model.CustomerID" name="CustomerID" readonly />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Họ và tên: </label>
                            <div class="col-md-10">
                                <input type="text" maxlength="30" size="70" value="@Model.CustomerName" name="Name" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Địa chỉ: </label>
                            <div class="col-md-10">
                                <input type="text" maxlength="100" size="100" value="@Model.Address" name="Address" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Ngày sinh: </label>
                            <div class="col-md-10">
                                <input type="datetime" name="Birthday" value="@birthDateOnly" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Giới tính: </label>
                            <div class="col-md-10">
                                @Html.DropDownList("Sex", list1)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Số điện thoại: </label>
                            <div class="col-md-10">
                                <input type="text" maxlength="10" value="@Model.Phone" name="Phone" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Email: </label>
                            <div class="col-md-10">
                                <input type="email" maxlength="80" value="@Model.Email" size="90" name="Email" required />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy</button>
                    <input id="popup" type="submit" value="Lưu" style="font-size:large" class="btn btn-success" />
                </div>
            }
        </div>
    </div>
</div>