@model IEnumerable<LTW_NTTinh_2024802010018.Models.New>

@{
    ViewBag.Title = "Quản lý bài viết";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@helper Truncate(string s, int length)
{
    if (s.Length < length)
    {
        @s
    }
    else
    {
        @s.Substring(0, length)<text>...</text>
    }
}
<h1 style="text-align:center" class="h3 mb-0 text-gray-800">DANH SÁCH BÀI VIẾT</h1>
@using (Html.BeginForm("SearchNews", "News", FormMethod.Get, new { @role = "search" }))
{
    <div class="input-group" style="width: 600px; margin: 10px; margin-right: 1000px; font-size: large;">
        <input name="strSearch" style="padding: 8px; font-size: large;width:200px" class="form-control" type="text" placeholder="Tìm kiếm..." aria-label="Tìm kiếm..." aria-describedby="btnNavbarSearch" />
        <button style="font-size: large; margin-right: 5px;" class="btn btn-primary" id="btnNavbarSearch" type="submit"><i class="fas fa-search"></i></button>
        <a data-toggle="modal" data-target="#addModal" class="btn btn-success" role="button" style="font-size:large;margin-left:5px;"><ion-icon name="add-outline" style="font-size:large;color:white"></ion-icon> Thêm mới</a>
        <a class="btn btn-primary" href="@Url.Action("News_manage", "News", new {id = 1})">Quay lại</a>
    </div>
    <div><h3>Kết quả tìm: @ViewBag.Count</h3></div>
}
@if (ViewBag.check == 1)
{
    <table id="myTable" class="table table-striped table-bordered" style="width:100%; font-size:large;margin-bottom:5px;">
        <thead>
            <tr>
                <th style="text-align: center; width: 120px">
                    Mã bài viết
                </th>
                <th style="text-align: center; width: 120px">
                    Tác giả
                </th>
                <th style="text-align: center; width: 120px">
                    Tiêu đề bài viết
                </th>
                <th style="text-align: center; width: 180px">
                    Nội dung
                </th>
                <th style="text-align: center; width: 180px">
                    Ảnh Thumbnail
                </th>
                <th style="text-align: center; width: 180px">
                    Ngày cập nhật
                </th>
                <th style="text-align: center; width: 130px">
                    Thao tác
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NewsID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NewsAuthor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NewsTitle)
                    </td>
                    <td>
                        @Truncate(item.NewsContent, 100)
                    </td>
                    <td>
                        <img style="border:1px solid;width:120px; height:90px " src="~/Images/@item.Thumbnail">
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Updated)
                    </td>
                    <td>
                        <a data-toggle="modal" data-target="#edit-@item.NewsID" class="btn btn-primary" role="button" style="font-size:large">Sửa</a>
                        <a data-toggle="modal" data-target="#del-@item.NewsID" class="btn btn-primary" role="button" style="font-size:large">Xóa</a>

                        @Html.Action("Edit", new { id = item.NewsID })
                        @Html.Action("Delete", new { id = item.NewsID })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <table id="myTable" class="table table-striped table-bordered" style="width:100%; font-size:large;margin-bottom:5px;">
        <thead>
            <tr>
                <th style="text-align: center; width: 120px">
                    Mã bài viết
                </th>
                <th style="text-align: center; width: 120px">
                    Tác giả
                </th>
                <th style="text-align: center; width: 120px">
                    Tiêu đề bài viết
                </th>
                <th style="text-align: center; width: 180px">
                    Nội dung
                </th>
                <th style="text-align: center; width: 180px">
                    Ảnh Thumbnail
                </th>
                <th style="text-align: center; width: 180px">
                    Ngày cập nhật
                </th>
                <th style="text-align: center; width: 130px">
                    Thao tác
                </th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td colspan="7">
                    <h2 style=" text-align:center;font-weight:bold">Không tồn tại</h2>
                </td>
            </tr>

        </tbody>
    </table>
}
@Html.Action("Create")