@model LTW_NTTinh_2024802010018.Models.Coupon
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div style="min-width:1000px;" class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="text-align:center" class="modal-title" id="exampleModalLabel">THÊM MÃ KHUYẾN MÃI MỚI</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            @using (Html.BeginForm("Create", "Coupon", FormMethod.Post, new
            {
                @enctype = "multipart/form-data"
            }))
            {
                <div class="modal-body">

                    @Html.AntiForgeryToken()

                    <div>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <label class="control-label col-md-2">Mã khuyến mãi: </label>
                            <div class="col-md-10">
                                <input type="text" size="70" maxlength="6" name="CouponId" value="@ViewBag.IDP" required placeholder="Nhập mã khuyến mãi"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Mô tả: </label>
                            <div class="col-md-10">
                                <input  maxlength="500" type="text" placeholder="Nhập mô tả" size="90" id="Description1" name="Description" value="@ViewBag.Description" required />
                                <script>CKEDITOR.replace('Description1');</script>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Giá trị: </label>
                            <div class="col-md-10">
                                <input type="number" min="0" max="99" size="30" name="CouponValue" placeholder="Nhập giá trị"  value="@ViewBag.value" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Hạn sử dụng: </label>
                            <div class="col-md-10">
                                <input type="date" size="60" name="CouponExpire" placeholder="Nhập hạn sử dụng"  value="@ViewBag.expire" required />
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy</button>
                    <input type="submit" value="Tạo mới" style="font-size:large" class="btn btn-success" />

                </div>
            }
        </div>
    </div>
</div>


